<form class="form" action="/api/player/update/<%- player.id %>?_method=PUT" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%- player.name %>" placeholder="Enter name"/>
    </div>
    <div class="mb-3">
        <label for="club" class="form-label">Club</label>
        <input type="text" class="form-control" id="club" name="club" value="<%- player.club %>" placeholder="Enter club name"/>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Edit player"/>
    </div>
</form>